{% extends 'base.html' %}
{% block content %}
<h1>Dashboard</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Status</th>
        {% if user.checker %}
        <th>Action</th>
        {% endif %}
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.status }}</td>
        {% if user.checker %}
        <td>
            <a href="{% url 'review_customer' customer.id %}">Review</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
