<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maker Dashboard</title>
</head>
<body>
    <h1>Welcome to Maker Dashboard</h1>
    <h2>Your Uploaded Customers:</h2>
    <ul>
        {% for customer in customers %}
        <li>
            <img src="{{ customer.photo.url }}" alt="{{ customer.name }}" style="max-width: 100px; max-height: 100px;">
            <br>
            Name: {{ customer.name }} - Status: {{ customer.status }}
        </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'upload_customer' %}"><button>Upload Customer</button></a>
</body>
</html>
